@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.collection__container {
  grid-row: 2 / 3;
  grid-column: 3 / -1;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #222;
  font-family: 'Ubuntu', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

.collection__rank {
  position: absolute;
  top: 0;
  left: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  z-index: 100;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.collection__image--box {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  box-shadow: inset 3px 3px 10px 0 #000000;
  top: 0;
  left: 0;
}

.collection__image {
  height: 120px;
  width: auto;
  object-fit: cover;
}

.collection__item {
  display: grid;
  max-height: 100px;
  grid-template-columns: 100px 1fr 2rem;
  background-color: #444;
  color: white;
  position: relative;
}

.collection__center-grids {
  display: flex;
  grid-column: 2 / 3;
}

.collection__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.collection__name {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.2rem 0;
  margin: 0;
  text-align: start;
}

.collection__ticker {
  font-size: 0.6rem;
  font-weight: 500;
  margin: 0;
  text-align: start;
}

.collection__desc {
  font-size: 0.7rem;
  text-align: start;
}

.collection__fp-dv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5rem;
}

.collection__floor-price {
  display: flex;
  align-items: center;
}
.collection__floor-price--title {
  font-size: 0.6rem;
  color: rgb(231, 231, 19);
}
.collection__floor-price--value {
  font-weight: 500;
  font-size: 0.6rem;
}

.collection__daily-volume {
  display: flex;
  align-items: center;
}
.collection__daily-volume--title {
  font-size: 0.6rem;
  color: rgb(231, 231, 19);
}
.collection__daily-volume--value {
  font-weight: 500;
  font-size: 0.6rem;
}
.collection__daily-volume--change {
  font-weight: 500;
  font-size: 0.6rem;
}

.collection__stats {
  box-shadow: inset 3px 3px 10px 0 #000000;
  width: 60%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1rem;

  font-size: 0.7rem;
}

.grid__items {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.collection__social {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
}

.elrond__logo {
  height: 0.8rem;
  width: 0.8rem;
}

.collection__link {
  color: white;
}

.collection__link:hover {
  cursor: pointer;
  z-index: 10000;
}

.collection__link--deadrare {
  margin: 0.1rem 0;
}

.collection__link--deadrare:hover {
  cursor: pointer;
}

#collection__titles {
  font-size: 0.6rem;
  color: rgb(231, 231, 19);
}

.collection__icon {
  height: 1rem;
  width: 1rem;
}

.green {
  color: rgb(0, 255, 0);
}

.red {
  color: rgb(255, 47, 47);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
